.botao-contador button {
  padding: 10px 15px;
  background: #3e13db;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.botao-contador button:hover {
  background: #aacf25;
}