/* .adicionar {
  background: #0e4db1;
  padding: 20px;
  margin: 10px;
} */

.adicionar {
  background-color: #0e4db1;
  color: rgb(17, 193, 52);
  padding: 12px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
}

/* efeito quando passa o mouse */
.adicionar:hover {
  background-color: #093a86;
}